*
{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.priceComponentSection
{
  padding-top: 1.2rem;
}



.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider-color
  {
    background-color: #2196F3;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

.attribution 
{ 
      font-size: 11px; text-align: center; 
}
    
.attribution a 
{ 
    color: hsl(228, 45%, 44%); 
}

.section
{
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
}

body
{
  
  background-position: right top, left bottom;
  background-repeat: no-repeat, no-repeat;
  background-image: url(../img/bg-top.svg), url(../img/bg-bottom.svg);
}

.box
{
  margin-top: .6rem;
  margin-bottom: 0.6rem;
  
}

.coloredButton
{
  background-color: rgb(129, 133, 230);
  color: white;
}

.whiteButton
{
  background-color: white;
  color: rgb(129, 133, 230);
}
#middleBox
{
  margin-top: 0;
  background-color: rgb(129, 133, 230);;
}

#middleContainer
{
  padding-top: 0.4rem;
  padding-bottom: 1.2rem;
  /* min-height: 1.5rem */
  color: white;
  
}

.box > #middleContainer > .title
{
  color: white;
}



/* .planPrices
{
  font-size: 3rem;
} */

.box
{
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

hr
{
  height: 3px;
  color: black;
}

#middleContainer > ul > li > hr
{
  height: 1px;
  color: white;
}

ul > li
{
  margin-top: -.6rem;
  padding: 0;
}